body{
    background-color: black;
    height: 100vh;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3rem;
    color: rgb(255, 0, 0);}
li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2rem;
    color: rgb(248, 248, 248);
}
a{
    color: white;
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
p{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-family:'Pliant', sans-serif;
}
footer{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100px;
    width:auto;
    border: 4px solid white;
    gap: 20px;
}
/*div pai, utilizada para fazer a borda e ser a caixa principal*/

.pai{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 55px;
    align-items: center;
    text-align: center;
    margin-bottom: 18px;
    width: 100%;
}
/*usado para organizar e decorar os links internos e externos da pagina*/
.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 10px;
    margin-top: 1.5rem;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    font-size: 3rem;
}
/*decorando e preparando os links para uma transição como mouse*/
.cabeçalho a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    border-bottom: 1px solid transparent;
    display: inline-block;
    transition: transform 0.7s;
}
/*pronto! toda vez que passar o mouse por cima, o tamanho ira aumentar*/
.cabeçalho a:hover{
    border-bottom-color: white;
    transform: scale(1.1);}

/*caixa usado para o resumo*/
.div-explicacao{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 55px;
    align-items: center;
    text-align: center;
    height: auto;
    width: 700px;
    gap: 10px;
    margin: 10px;
}

/*Caixa usada para manter o "resumo" fixo no centro da pagina*/
.div-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

/*caixa usada para fazer os "envelopes" dos personagens*/
.div-characters{
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    height: auto;
    width: 250px;
    margin: 10px;
}

/*animação para caso passe o mouse por cima, o "envelope" ira abrir*/
.div-characters:hover{
    width: auto;
    transition: 1s ease;
    display: none;
    gap: 10px;
    display:flex;
    flex-direction: row;
    border-radius: 10px;
}

/*Manter a imagem fixa no canto esquerdo*/
.div-characters:hover .img-src{
    display: flex;
    flex-direction: row;}

/*Não deixar com que a mensagem fique aparecendo sem que o usuário passe o mouse por cima*/
.div-characters p{
    color:white;
    font-size: 0rem;
    font-family:'Pliant', sans-serif;
}

 /*agora sim, toda vez que o usuário passar o mouse por cima, a mensagem vai aparecer*/
.div-characters:hover p{
    font-size: 1.2rem;
    transition: font-size 1s ease;
}

.div-characters h1{
    color:rgb(255, 1, 1);
    font-size: 0rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 /*agora sim, toda vez que o usuário passar o mouse por cima, a mensagem vai aparecer*/
.div-characters:hover h1{
    font-size: 3rem;
    transition: 1s ease;
}

/*caixa semelhante as anteriores, porém foi feita exclusivamente para a pag hist. Ela mantem as coisas dessa pagina em ordem*/
.div-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 0;
    width: auto;
    max-width:1250px;
    height: auto;
    overflow: hidden;
    gap: 1rem;
}
<<<<<<< HEAD

/*caixa usada para criar a borda e ajustar os elementos dentro dela*/
=======
.div-history h1{
    color: red;
}
>>>>>>> ab03dbb37324d7cb519ac1df99f0755dd02401c8
.div-teste{
    display: flex;
    flex-direction: column;
    border: 4px solid white;
    border-radius: 55px;
    align-items: center;
    text-align: center;
    margin-bottom: 18px;
    height: 200px;
}
<<<<<<< HEAD
.div-teste:hover{
    height: auto;
    transition: 1s ease;
}
.div-teste p{
    font-size: 0rem;
}
.div-teste:hover p{
    font-size: 1.2rem;
    transition: 1s ease;
}
=======

.text-history {
    font-size: 0rem;
}
>>>>>>> ab03dbb37324d7cb519ac1df99f0755dd02401c8
